

#map {
    /* background-image: url('17-170115_blue-us-map-png.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    opacity: .75;
}


#state-box {
    margin: 30px;
    display:inline-block;
    border: solid red;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    color: black;
    text-align: center;
    background-color: rgb(255, 240, 247);
    font-size: 14px;
    justify-content: center;
}

/* .column {
    text-align: center;
} */

.board {
    margin: 30px;
    border: solid red;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    /*text-align: center;*/
    background-color: rgb(255, 240, 247);
    font-size: 14px;
}
.cycle {
    font-size: 18px;
}

.rep-name {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
    color: rgb(15, 33, 136);
}


h2 {
    font-weight: bold;
    text-decoration: underline;
}

.name {
    text-align: center;
}

a {
    display: block;
    color: red;
}

#subtitle {
    font-style: italic;
}

#vote-box {
    margin: auto;
    border: solid red;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    color: black;
    text-align: center;
    background-color: rgb(255, 240, 247);
    font-size: 14px;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    #map {
        background-image: url("");
    }
}